# Model Building

Models to be used
- 1) Logistic Regression 
- 2) SVM 
- 3) KNN
- 4) Decision Tree
- 5) Random Forest

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# data for model building
data_train = pd.read_csv('/Users/amit/Documents/Premier Project Hamoye/Model Building/train_data.csv')
data_train.head()

,Visit,MR Delay,Age,EDUC,eTIV,nWBV,ASF,SES_imputed,MMSE_imputed,missing_indicator_SES,Group_Demented,Group_Nondemented,M/F_F,CDR
0,1,0.000000,70,11,1445,0.722,1.214,4.0,22.0,0,1,0,1,1.0
1,4,31.144823,68,16,1714,0.682,1.024,1.0,7.0,0,1,0,0,1.0
2,3,39.887341,82,18,1442,0.644,1.217,1.0,29.0,0,0,1,1,0.0
3,2,21.377558,94,23,1474,0.696,1.190,1.0,29.0,0,0,1,1,0.0
4,2,26.457513,72,16,1796,0.732,0.977,4.0,28.0,0,1,0,0,0.5

In [9]:
data_train.shape

(298, 14)

In [6]:
# data for testing the model
data_test = pd.read_csv('/Users/amit/Documents/Premier Project Hamoye/Model Building/test_data.csv')
data_test.head()

,Visit,MR Delay,Age,EDUC,eTIV,nWBV,ASF,SES_imputed,MMSE_imputed,missing_indicator_SES,Group_Demented,Group_Nondemented,M/F_F,CDR
0,3,37.881394,73,12,1478,0.696,1.188,4.0,16.0,0,1,0,1,1.0
1,1,0.000000,66,12,1446,0.780,1.214,4.0,30.0,0,1,0,0,0.5
2,4,42.071368,73,13,1360,0.773,1.291,4.0,30.0,0,0,1,1,0.0
3,1,0.000000,71,14,1461,0.756,1.202,2.0,28.0,0,0,1,1,0.0
4,5,48.989795,86,12,1813,0.761,0.968,3.0,27.0,0,0,1,0,0.0

In [8]:
data_test.shape

(75, 14)

## 1) Logistic Regression

## 2) SVM

## 3) KNN

## 4) Decision Tree

## 5) Random Forest